div.row.pr
  div.span6
    a(href='https://github.com/coursefork/forkshop') master

  div.offset1.span2
    - if (prs[ "master" ] && prs[ "master" ].on_staging)
      button.btn.btn-success On Staging
    - else
      button.btn(data-id='master') Checkout
