div.row.pr
  div.span6
    a(href='') master

  div.offset1.span2
    - if (prs[ "n" + pull_request.branch ] && prs[ "n" + pull_request.branch ].on_staging)
      button.btn.btn-success On Staging
    - else
      button.btn(data-id='#{pull_request.branch}') Checkout
