div.row.pr
  div.span6
    a(href='') master

  div.offset1.span2
    - if (prs[ "nmaster" ] && prs[ "nmaster" ].on_staging)
      button.btn.btn-success On Staging
    - else
      button.btn(data-id='master') Checkout
